@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@700&family=Roboto:wght@100&display=swap');
/*

    font-family: 'Assistant', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto', sans-serif;

*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    
    background-color: hsl(235, 21%, 11%);
    background-image: url('../images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size: 100% 300px;

    
}


section{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


section .contenedor{
    
    width: 500px;
    height: 600px;
    display: flex;

    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    
}

/*estilos para la sombra*/
section .contenedor::before {
    content: '';
    position: absolute;
    top: 32%;
    
    width: 496px;
    height: 439px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 5px;
  }
  

section .contenedor .tittleTheme{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
section .contenedor .tittleTheme h1, img{
    margin: 0;
    padding: 0;
}
section .contenedor .tittleTheme h1{
    letter-spacing: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: white;
}
section .contenedor .tittleTheme img{
    cursor: pointer;
}

section .contenedor .inputText{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: hsl(235, 24%, 19%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

section .contenedor .inputText .checkbox{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid hsl(234, 11%, 52%);
    appearance: none;
    cursor: pointer;
    margin-left: 30px;
    position: relative;
    color: hsl(234, 39%, 85%);
}

.checkbox:checked::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border-radius: inherit;
}

.checkbox:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-image: url('../images/icon-check.svg');
    background-repeat: no-repeat;
    width: 30px; 
    height: 30px;
}

section .contenedor .inputText .textInput{
    width: calc(100% - 90px);
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    caret-color: hsl(220, 98%, 61%);
    color: hsl(234, 39%, 85%);
}
section .contenedor .inputText .textInput::placeholder {
    color: #999; /* Color del texto de ejemplo */
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px;
    
    
}




section .contenedor .listTareas{
    width: 100%;
    height: calc(100% - 150px);
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    
}


/*SECTION FOOTER*/
.attribution{
    width: 100%;
    height: 30px;
    background-color: hsl(236, 9%, 61%);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    bottom: 0
}

.attribution p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.attribution p a{
    text-decoration: none;
}